.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products {
  display: flex;
  margin: 30px;
  width: 250px;
}

.cards {
  display: flex;
}

.card {
  width: 250px;
  box-shadow: 0 0 5px black;
}

img,
h4,
p {
  padding: 10px;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: rgb(49, 151, 149);
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
}

button:active {
  color: black;
}
